body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    background-image: url("https://wallpapers.com/images/high/temperature-samsung-black-mwup07excve0eaiu.webp");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

#box {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="radio"] {
    margin: 10px;
}

label {
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

button {
    background: #ff7e5f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #feb47b;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
    font-weight: bolder;
}
#result{
    opacity: 0;
    transition: opacity 0.7s
    ease;
}
#result.show{
    opacity:1;
}